@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 기본 메뉴 항목 스타일 */
.custom-menu .ant-menu-item {
  color: gray; /* 선택되지 않은 메뉴는 회색 */
  transition: color 0.3s ease; /* 부드러운 전환 효과 */
  font-size: large;
  font-weight: bold;
}

/* 선택된 메뉴 항목 스타일 */
.custom-menu .ant-menu-item-selected {
  color: #527FF7;
  font-weight: bold; /* 강조 */
}
